.hide {
	display: none;
}
.loader {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 1000;
}
.loader>img{
    content: URL('./assets/marker100.png');
	width: 150px;
	height: auto;
	animation: pulse 1s ease-in-out infinite;
}
.loader>h1{
	opacity: 0.1;
	padding: 1rem;
	color: white;
	font-size: 2rem;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes pulse {
	0% {
		opacity: 0.5;
		transform: scale(0.95);
		filter: drop-shadow(0 0 4px rgb(0, 0, 0));
	}

	70% {
		opacity: 1;
		transform: scale(1);
		filter: drop-shadow(0 0 10px rgb(0, 0, 0));
	}

	100% {
		opacity: 0.5;
		transform: scale(0.95);
		filter: drop-shadow(0 0 4px rgb(0, 0, 0));
	}
}